<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Global-Global-Global</title>
      <!-- When using extract-text-webpack-plugin we will load the styles manually -->
      <!-- <link rel="stylesheet" type="text/css" href="/styles.css">  -->
  </head>
  <body>
    <h1>Styling with webpack</h1>
    <div class="myDiv">
      <p class='myInnerP'>This is a div with "myClass" class </p>
      <br />
      <p class='classFromGlobal'>This is a p with a "classFromGlobal" class</p>
      <br/>
      <span>There is a span with a "imgClass" class ---></span>  <span class='imgClass'></span>
      <br />
      <hr/>

          <button onclick="alert('ok')">Click</button>
  </body>
</html>